In [7]:
import pandas as pd
import requests
import sqlalchemy
import keys

In [8]:
host = '127.0.0.1'
schema = 'gans'
user = 'root'
password = 'put_your_own_password'
port = 3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [9]:
city_df = pd.read_sql('city',con=con)
city_df

    city_id              city         country  population      lat      long
0         1          Istanbul          Turkey    15840900  41.0136  28.95500
1         2            Moscow          Russia    12632409  55.7500  37.61670
2         3            London  United Kingdom     8799800  51.5072  -0.12750
3         4  Saint Petersburg          Russia     5376672  59.9500  30.30000
4         5            Berlin         Germany     3677472  52.5167  13.38330
5         6            Madrid           Spain     3305408  40.3833  -3.71667
6         7              Kyiv         Ukraine     2962180  50.4500  30.52330
7         8              Rome           Italy     2761632  41.9000  12.50000
8         9              Baku      Azerbaijan     2303100  40.4000  49.90000
9        10         Bucharest         Romania     2161347  44.4325  26.10390
10       11             Paris          France     2139907  48.8567   2.35080
11       12             Minsk         Belarus     1996553  53.9000  27.56670
12       13            Vienna         Austria     1962779  48.2000  16.36670
13       14            Warsaw          Poland     1863056  52.2333  21.01670
14       15           Hamburg         Germany     1853935  53.5653  10.00140
15       16          Budapest         Hungary     1706851  47.4925  19.05140
16       17          Belgrade          Serbia     1688667  44.8167  20.46670
17       18         Barcelona           Spain     1636732  41.3833   2.18333
18       19            Munich         Germany     1487708  48.1333  11.56670
19       20           Kharkiv         Ukraine     1414319  50.0044  36.23140
20       21             Milan           Italy     1371498  45.4667   9.18333
21       22             Kazan          Russia     1308660  55.7903  49.13470
22       23             Sofia        Bulgaria     1307439  42.7000  23.33000
23       24            Prague  Czech Republic     1275406  50.0833  14.41670
24       25   Nizhny Novgorod          Russia     1228199  56.3269  44.00750
25       26           Tbilisi         Georgia     1201769  41.7166  44.78330
26       27            Samara          Russia     1187771  53.2028  50.14080
27       28               Ufa          Russia     1144809  54.7500  55.96670
28       29        Birmingham  United Kingdom     1144900  52.4831  -1.89361
29       30     Rostov-on-Don          Russia     1142162  47.2333  39.70000
30       31         Krasnodar          Russia     1099344  45.0330  38.96700
31       32           Yerevan         Armenia     1092800  40.1810  44.51000
32       33           Cologne         Germany     1073096  50.9364   6.95278
33       34          Voronezh          Russia     1057681  51.6717  39.21060
34       35              Perm          Russia     1034002  58.0000  56.31670
35       36         Volgograd          Russia     1028036  48.7000  44.51670

In [15]:
API_key = 'put_your_own_key'

In [24]:
weather_dict = {'city_id':[],
                'time':[],
                'temp':[],
                'wind_speed':[]}

In [25]:
for i, city in enumerate(city_df['city_id']):
    url = f"http://api.openweathermap.org/data/2.5/forecast?lat={city_df.iloc[i]['lat']}&lon={city_df.iloc[i]['long']}&appid={API_key}&units=metric"
    response = requests.get(url)
    weather_json = response.json()
    for time in weather_json['list'][:9]:
        weather_dict['city_id'].append(city)
        weather_dict['time'].append(time['dt_txt'])
        weather_dict['temp'].append(time['main']['temp'])
        weather_dict['wind_speed'].append(time['wind']['speed'])

In [26]:
weather_df = pd.DataFrame(weather_dict)
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city_id     324 non-null    int64
 1   time        324 non-null    object
 2   temp        324 non-null    float64
 3   wind_speed  324 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.2+ KB

In [27]:
weather_df

     city_id                 time   temp  wind_speed
0          1  2023-01-06 12:00:00  11.52        3.38
1          1  2023-01-06 15:00:00  11.45        3.06
2          1  2023-01-06 18:00:00  10.51        1.42
3          1  2023-01-06 21:00:00   9.80        0.91
4          1  2023-01-07 00:00:00   9.14        1.40
..       ...                  ...    ...         ...
319       36  2023-01-07 00:00:00  -6.74        7.65
320       36  2023-01-07 03:00:00  -8.87        7.68
321       36  2023-01-07 06:00:00 -11.69        7.49
322       36  2023-01-07 09:00:00 -10.94        6.92
323       36  2023-01-07 12:00:00 -11.01        7.20

[324 rows x 4 columns]

In [28]:
weather_df.to_sql('weather',con=con,if_exists='append',index=False)

324